@font-face {
    font-family: montserrat-medium;
    src: url(../assets/font/montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: montserrat-light-italic;
    src: url(../assets/font/montserrat/Montserrat-LightItalic.ttf);
}

@font-face {
    font-family: montserrat-semibold;
    src: url(../assets/font/montserrat/Montserrat-SemiBold.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: montserrat-medium;
    scroll-behavior: smooth;
}

body {
    margin-top: -136px;
    background-color: #609b9633;
}

#background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/assets/img/aviron_lac_st_cassien_ete.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 400px;
    width: 100%;
    box-shadow: 0px 1px 10px #808080;
    z-index: 5;
}

.meteo-langue {
    position: absolute;
    right: 0;
    margin-right: 3%;
    margin-top: 150px;
    display: flex;
}

.meteo {
    margin-right: 20px;
}

.fa-cloud-sun {
    color: #ffffff;
    transition: transform 500ms ease-in-out-back,
    background-position 800ms ease-in-out-back, box-shadow 500ms linear;
    text-shadow: 0px 1px 10px #686868;
}

.fa-cloud-sun:hover {
    transform: scale(1.02);
    background-position: -60px;
    text-shadow: 0px 1px 10px #303030;
}

#langue {
    border-radius: 5px;
    transition: transform 500ms ease-in-out-back,
    background-position 800ms ease-in-out-back, box-shadow 500ms linear;
    box-shadow: 0px 1px 10px #686868;
}

#langue:hover {
    transform: scale(1.02);
    background-position: -60px;
    box-shadow: 0px 1px 10px #303030;
}

.titre-page {
    background-color: #3d458b;
    color: #ffffff;
    box-shadow: 0px 1px 10px #808080;
    max-width: 400px;
    min-height: 90px;
    text-align: center;
    margin: auto;
    margin-top: -70px;
    border-radius: 8px;
    display: block;
}

.titre-page h1 {
    padding: 30px;
    font-size: 40px;
}

.neutre {
    align-items: center;
    padding: 0 15% 2% 15%;
}

#petite-etoile {
    font-size: 12px;
}

.bloc_impair, .bloc_pair {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 3%;
}

.bloc_impair {
    background-color: #609b9633;
}

.bloc_pair {
    background-color: #609b9680;
}

h2 {
    color: #007300;
    font-size: 30px;
}

h3 {
    font-family: montserrat-light-italic;
    color: #3064A7;
    font-size: 20px;
}

p {
    font-family: montserrat-semibold;
}

img {
    max-width: 100%;
}

.img {
    box-shadow: 0px 1px 10px #484848;
}

.texte {
    flex-basis: 40%;
}

.bloc_impair .texte {
    padding-left: 5%;
}

.qui-somme-nous h2{
    text-align: center;
}

.qui-somme-nous .container {
    margin: auto;
}

button {
    background-color: #3d458b;
    border: none;
    color: #ffffff;
    text-decoration: none;
    height: 50px;
    width: 150px;
    font-size: 16px;
    border-radius: 8px;
    transition: transform 500ms ease-in-out-back,
    background-position 800ms ease-in-out-back, box-shadow 500ms linear;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

button:hover {
    transform: scale(1.02);
    background-position: -60px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

button:active {
    transform: scale(1);
    background-position: 500px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#contact {
    height: 45px;
    width: 125px;
}

.boutton {
    display: flex;
    justify-content: center;
}

#scroll_to_top {
    position: fixed;
    width: 30px;
    height: 30px;
    bottom: 70px;
    right: 80px;
}

.fa-circle-up {
    color: #3d458b;
}

.caption-container {
    text-align: center;
    padding: 2px 16px;
    color: #000000;
    font-family: montserrat-semibold;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }