@font-face {
    font-family: montserrat-medium;
    src: url(../assets/font/montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: montserrat-light-italic;
    src: url(../assets/font/montserrat/Montserrat-LightItalic.ttf);
}

@font-face {
    font-family: montserrat-semibold;
    src: url(../assets/font/montserrat/Montserrat-SemiBold.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: montserrat-medium;
    scroll-behavior: smooth;
}

body {
    margin-top: -136px;
    background-color: #609b9633;
}

#background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/assets/img/aviron_lac_st_cassien_ete.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 400px;
    width: 100%;
    box-shadow: 0px 1px 10px #808080;
    z-index: 5;
}

.meteo-langue {
    position: absolute;
    right: 0;
    margin-right: 3%;
    margin-top: 150px;
    display: flex;
}

.meteo {
    margin-right: 20px;
}

.fa-cloud-sun {
    color: #ffffff;
    transition: transform 500ms ease-in-out-back,
    background-position 800ms ease-in-out-back, box-shadow 500ms linear;
    text-shadow: 0px 1px 10px #686868;
}

.fa-cloud-sun:hover {
    transform: scale(1.02);
    background-position: -60px;
    text-shadow: 0px 1px 10px #303030;
}

#langue {
    border-radius: 5px;
    transition: transform 500ms ease-in-out-back,
    background-position 800ms ease-in-out-back, box-shadow 500ms linear;
    box-shadow: 0px 1px 10px #686868;
}

#langue:hover {
    transform: scale(1.02);
    background-position: -60px;
    box-shadow: 0px 1px 10px #303030;
}

.titre-page {
    background-color: #008000;
    color: #ffffff;
    box-shadow: 0px 1px 10px #808080;
    max-width: 400px;
    min-height: 90px;
    text-align: center;
    margin: auto;
    margin-top: -70px;
    border-radius: 8px;
    display: block;
}

.titre-page h1 {
    padding: 30px;
    font-size: 40px;
}

.neutre {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0 15% 5% 15%;
}

.bloc_impair, .bloc_pair {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 1% 5% 5% 5%;
}

.bloc_impair {
    background-color: #609b9633;
}

.bloc_pair {
    background-color: #609b9680;
}

h2 {
    color: #007300;
    font-size: 20px;
}

h3 {
    color: #007300;
    font-size: 30px;
}

h4 {
    font-family: montserrat-light-italic;
    color: #3064A7;
    font-size: 20px;
}

p {
    font-family: montserrat-semibold;
}

.competition, .loisir, .scolaire {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    padding: 2%;
    border-top: 2px solid #007300;
}

.sous_bloc {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.image {
    max-width: 100%;
    flex-basis: 30%;
}

.img {
    box-shadow: 0px 1px 10px #484848;
}

.texte,
.texte-gigabloc {
    flex-basis: 60%;
    margin-bottom: 50px;
}

.texte-gigabloc {
    text-align: justify;
}

.intro {
    display: block;
    margin: auto;
}

h3 {
    text-align: center;
}

#aviron_loisir {
    scroll-margin-top: 136px;
}

#aviron_competition ,#aviron_scolaire {
    scroll-margin-top: 50px;
}

a.lien {
    color: #579678;
    position: relative;
    text-decoration: none;
}

a.lien::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #579678;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

a.lien:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

#scroll_to_top {
    position: fixed;
    width: 30px;
    height: 30px;
    bottom: 70px;
    right: 80px;
}

.fa-circle-up {
    color: #007300;
}
