@font-face {
    font-family: montserrat-regular;
    src: url(../assets/font/montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-medium;
    src: url(../assets/font/montserrat/Montserrat-Medium.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: montserrat-medium;
}

body {
    margin-top: -136px;
    background-color: #e3e3e3;
}

.meteo-langue {
    position: absolute;
    right: 0;
    margin-right: 3%;
    margin-top: 150px;
    display: flex;
}

.meteo {
    margin-right: 20px;
}

.fa-cloud-sun {
    color: #ffffff;
    text-shadow: 0px 1px 10px #686868;
}

#langue {
    border-radius: 5px;
    box-shadow: 0px 1px 10px #686868;
}

#background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/assets/img/aviron_lac_st_cassien_ete.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 800px;
    width: 100%;
    box-shadow: 0px 1px 10px grey;
}

#bb{
    justify-content: center;
    margin: auto;
}

#background > button{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    
}

#b1 {
    background-color: #3d458b;
    margin: 5px;
}

#b2 {
    background-color: green;
    margin: 5px;
}

button {
    background-color: #3d458b;
    border: none;
    color: #ffffff;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
}

button:active {
    transform: scale(1);
    background-position: 500px;
    box-shadow: 0 1px 3px #0000001f, 0 1px 2px rgba(0, 0, 0, 0.24);
}

#video, #acces {
    padding: 1%;
}

#acces {
    background-color: #ffffff;
}

h1 {
    text-align: center;
    font-family: montserrat-regular;
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #E7ECEA;
}

#video-liste {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

#map{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.googlemaps {
    display: flex;
}

#button_savoir_plus{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

#b3{
    display: inline-block;
}

@media screen and (min-width: 800px) {
    #b1, #b2 {
        font-size: 30px;
        height: 290px;
        width: 377px;
    }

    .fa-cloud-sun {
        transition: transform 500ms ease-in-out-back,
        background-position 800ms ease-in-out-back, box-shadow 500ms linear;
    }
    
    .fa-cloud-sun:hover {
        transform: scale(1.02);
        background-position: -60px;
        text-shadow: 0px 1px 10px #303030;
    }
    
    #langue {
        border-radius: 5px;
        box-shadow: 0px 1px 10px #686868;
    }
    
    #langue:hover {
        transform: scale(1.02);
        background-position: -60px;
        box-shadow: 0px 1px 10px #303030;
    }

    button {
        height: 50px;
        width: 150px;
        font-size: 16px;
        transition: transform 500ms ease-in-out-back,
        background-position 800ms ease-in-out-back, box-shadow 500ms linear;
    }
    
    button:hover {
        transform: scale(1.02);
        background-position: -60px;
        box-shadow: 0 3px 6px #00000029, 0 3px 6px #0000003b;
    }

    h1 {
        font-size: xxx-large;
    }

    #foot > div {
        padding: 15px;
    }
    
    #f1 > img {
        padding: 17px 35px;
    }
    
    #f2 > img {
        max-height: 180px;
        max-width: 180px;
        padding: 17px 35px;
    }
    
    #f4 > img {
        max-height: 1000px;
        max-width: 1000px;
        padding: 17px 35px;
    }

    #video-liste > video{
        padding: 10px;
        max-width: 32%;
    }

    #cartefrance{
        flex-basis: 35%;
        margin-left: 3px;
        margin-right: 15px;
        width: 35%;
    }

    #cartezoom{
        flex-basis: 65%;
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    #b1, #b2 {
        font-size: 25px;
        height: 200px;
        width: 260px;
    }

    #bb {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 230px
    }

    #map, #video-liste {
        flex-direction: column;
        justify-content: center;
    }

    video, #cartefrance {
        padding: 12px;
        max-width: 100%;
    }

    #cartezoom {
        max-width: 100%;
    }

    #foot > div {
        padding: 15px;
    }
    
    #f1, #f2, #f3, #f4 {
        display: flex;
        justify-content: center;
    }

    #f1 > img, #f2 > img, #f3 > img, #f4 > img {
        max-width: 90px;
        max-height: 90px;
        padding: 10px 10px;
    }

    button {
        height: 50px;
        width: 150px;
        font-size: 16px;
    }
} 