@font-face {
    font-family: montserrat-medium;
    src: url(../assets/font/montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: montserrat-light-italic;
    src: url(../assets/font/montserrat/Montserrat-LightItalic.ttf);
}

@font-face {
    font-family: montserrat-semibold;
    src: url(../assets/font/montserrat/Montserrat-SemiBold.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: montserrat-medium;
}

body {
    margin-top: -136px;
    background-color: #609b9633;
}

#background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/assets/img/aviron_lac_st_cassien_ete.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 400px;
    width: 100%;
    box-shadow: 0px 1px 10px #808080;
    z-index: 5;
}


.meteo-langue {
    position: absolute;
    right: 0;
    margin-right: 3%;
    margin-top: 150px;
    display: flex;
}

.meteo {
    margin-right: 20px;
}

.fa-cloud-sun {
    color: #ffffff;
    transition: transform 500ms ease-in-out-back,
    background-position 800ms ease-in-out-back, box-shadow 500ms linear;
    text-shadow: 0px 1px 10px #686868;
}

.fa-cloud-sun:hover {
    transform: scale(1.02);
    background-position: -60px;
    text-shadow: 0px 1px 10px #303030;
}

#langue {
    border-radius: 5px;
    transition: transform 500ms ease-in-out-back,
    background-position 800ms ease-in-out-back, box-shadow 500ms linear;
    box-shadow: 0px 1px 10px #686868;
}

#langue:hover {
    transform: scale(1.02);
    background-position: -60px;
    box-shadow: 0px 1px 10px #303030;
}

.titre-page {
    background-color: #4fab81;
    color: #ffffff;
    box-shadow: 0px 1px 10px #808080;
    max-width: 400px;
    min-height: 90px;
    text-align: center;
    margin: auto;
    margin-top: -70px;
    border-radius: 8px;
    display: block;
}

#transport {
    padding-left: 7%;
}

.transport {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 3%;
}

.div-transport {
    padding: 1%;
    display:block;
}

.intro {
    display: block;
    margin:auto;
}

p {
    font-family: montserrat-semibold;
}

.titre-page h1 {
    padding: 30px;
    font-size: 40px;
}

h2 {
    color: #007300;
    font-size: 30px;
}

img #carte_info {
    display: block;
    width: 50%;
    margin: auto;
}

.texte {
    display: block;
    flex-basis: 40%;
}

.logement-tourisme {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 1%;
}

.logement, .tourisme {
    text-align: left;
}

a.lien {
    color: #579678;
    position: relative;
    text-decoration: none;
}

a.lien::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #579678;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

a.lien:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}